<div class="description">
  <div class="configuration">
    <textarea spellcheck="false">
{
  domain: 'cloud-launcher.io',
  root: 'https://github.com/cloud-launcher',
  authorizations: ['40:85:f0:9b:28:ad:5d:25:b5:51:2e:ad:f3:b3:31:98'],
  locations: {
    digitalocean: ['sfo1']
  },
  configuration: {
    www: 1,
    api: 1,
    influxdb: 1
  },
  roles: {
    all: ['cadvisor']
  },
  containers {
    api: {
      linkTo: ['influxdb']
    },
    influxdb: {
      container: 'tutum/influxdb'
    }
  }
}
    </textarea>
  </div>
  <div class="cost">
    <div class="header">Estimated Costs*</div>
    <div class="items">
      <div class="provider">
        <span class="provider-name">DigitalOcean:</span>
        <div class="location">
          <span class="location-name">San Francisco (sfo1)</span>
          <div class="machine-type">
            <span class="machine-count">(3) 512MB @ $0.007 / hr</span>
            <div class="role">     (1) www    $0.007 / hr</div>
            <div class="role">    (1)  api    $0.007 / hr</div>
            <div class="role">(1) influxdb    $0.007 / hr</div>
          </div>
          <div class="provider-total">DigitalOcean Total: $0.21 / hr</div>
        </div>
      </div>
    </div>
    <div class="total">Total: $0.21 / hr</div>
  </div>
</div>

<docker-search></docker-search>

<div class="providers">
  <div ng-repeat="(name, provider) in providers" class="provider {{name}}">
    <div class="name">{{provider.name}} <span ng-if="provider.brand" class="brand">| {{provider.brand}}</span></div>
    <div class="selections">
      <div class="locations">
        <div ng-repeat="(name, location) in provider.locations" ng-class="{'location': true, 'selected': location.selected}"><label><input type="checkbox" ng-model="location.selected"><span class="label"><span class="location-vicinity">{{location.vicinity}}</span> <span class="location-name">({{name}})</span></span></label></div>
        <div ng-if="provider.comingsoon" class="comingsoon"><span>Coming Soon!</span></div>
      </div>
    </div>
  </div>
</div>