<div class="search">
  <input type="text" placeholder="Search Docker Hub For Containers..." ng-model="docker.query" ng-change="queryChanged($event)" autofocus>
  <span class="querying">
    <span class="indicator" ng-show="docker.querying">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32" fill="white">
        <path transform="translate(2)" d="M0 12 V20 H4 V12z">
          <animate attributeName="d" values="M0 12 V20 H4 V12z; M0 4 V28 H4 V4z; M0 12 V20 H4 V12z; M0 12 V20 H4 V12z" dur="1.2s" repeatCount="indefinite" begin="0" keytimes="0;.2;.5;1" keySplines="0.2 0.2 0.4 0.8;0.2 0.6 0.4 0.8;0.2 0.8 0.4 0.8" calcMode="spline"  />
        </path>
        <path transform="translate(8)" d="M0 12 V20 H4 V12z">
          <animate attributeName="d" values="M0 12 V20 H4 V12z; M0 4 V28 H4 V4z; M0 12 V20 H4 V12z; M0 12 V20 H4 V12z" dur="1.2s" repeatCount="indefinite" begin="0.2" keytimes="0;.2;.5;1" keySplines="0.2 0.2 0.4 0.8;0.2 0.6 0.4 0.8;0.2 0.8 0.4 0.8" calcMode="spline"  />
        </path>
        <path transform="translate(14)" d="M0 12 V20 H4 V12z">
          <animate attributeName="d" values="M0 12 V20 H4 V12z; M0 4 V28 H4 V4z; M0 12 V20 H4 V12z; M0 12 V20 H4 V12z" dur="1.2s" repeatCount="indefinite" begin="0.4" keytimes="0;.2;.5;1" keySplines="0.2 0.2 0.4 0.8;0.2 0.6 0.4 0.8;0.2 0.8 0.4 0.8" calcMode="spline" />
        </path>
        <path transform="translate(20)" d="M0 12 V20 H4 V12z">
          <animate attributeName="d" values="M0 12 V20 H4 V12z; M0 4 V28 H4 V4z; M0 12 V20 H4 V12z; M0 12 V20 H4 V12z" dur="1.2s" repeatCount="indefinite" begin="0.6" keytimes="0;.2;.5;1" keySplines="0.2 0.2 0.4 0.8;0.2 0.6 0.4 0.8;0.2 0.8 0.4 0.8" calcMode="spline" />
        </path>
        <path transform="translate(26)" d="M0 12 V20 H4 V12z">
          <animate attributeName="d" values="M0 12 V20 H4 V12z; M0 4 V28 H4 V4z; M0 12 V20 H4 V12z; M0 12 V20 H4 V12z" dur="1.2s" repeatCount="indefinite" begin="0.8" keytimes="0;.2;.5;1" keySplines="0.2 0.2 0.4 0.8;0.2 0.6 0.4 0.8;0.2 0.8 0.4 0.8" calcMode="spline" />
        </path>
      </svg>
    </span>
    <span class="close" ng-show="docker.query != ''" ng-click="docker.query = ''; queryChanged()" title="Close Search">X</span>
  </span>
</div>
<div ng-show="docker.haveFirstResults"
     class="display">
  <header>
    <div class="sort-by">
      <span class="text">Sort By:</span>
      <select ng-model="docker.sortBy" ng-change="sortBy()">
        <option value="stars">Stars</option>
        <option value="name">Name</option>
      </select>
    </div>
    <div class="title">Docker Hub Results</div>
    <div class="result-summary">
      <div class="progress-bar" style="width: {{docker.resultsLoaded}}%;"></div>
      <div class="summary"
           ng-show="docker.haveFirstResults">{{docker.end}} of {{docker.total}} Matches Retrieved</div>
    </div>
  </header>
  <div ng-show="docker.haveFirstResults"
       class="results">
    <div class="visible-results">
      <div ng-repeat="result in docker.results | limitTo: docker.showLimit"
           ng-class="{'result': true, 'selected': selectedContainers[result.name]}"
           ng-click="selectedContainers[result.name] = !selectedContainers[result.name]">
        <div class="stars">
          <span class="star">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" width="17px" height="16px" viewBox="6 6.4 17 16" style="enable-background:new 6 6.4 17 16;" xml:space="preserve">
              <polygon style="fill:#ff8;stroke:#939BA7;stroke-width:0.5723;stroke-miterlimit:10;" points="14.5,19.1 9.8,21.6 10.7,16.4   6.9,12.6 12.2,11.9 14.5,7.1 16.8,11.9 22.1,12.6 18.3,16.4 19.2,21.6 "/>
            </svg>
          </span>
          <span class="star-count">{{::result.star_count}}</span>
        </div>
        <div class="container-details">
          <span class="container-name">{{::result.name}}</span>
          <span class="container-description">{{::result.description}}</span>
        </div>
        <div class="size"
             ng-if="selectedContainers[result.name]"
             ng-click="$event.stopPropagation()">
          <select class="size-select"
                  ng-if="selectedContainers[result.name]">
            <option>512MB</option>
            <option>1GB</option>
            <option>2GB</option>
            <option>4GB</option>
          </select>
        </div>
        <div class="container-select">
          <input type="checkbox"
                 ng-model="selectedContainers[result.name]"
                 ng-change="selectContainer(result.name)">
        </div>
      </div>
    </div>
    <div class="show-more"
         ng-show="docker.results.length > docker.showLimit"
         ng-click="docker.showLimit = docker.showLimit + docker.limitStep">
         Show next {{docker.limitStep}} matches...
    </div>
  </div>
</div>