<div ng-class="{'launch-status': true, 'launch-error': launchError}">
  <div class="status">{{launchStatus}}</div>
  <div class="log">
    <div ng-repeat="item in launchLog track by $index"
         class="log-item">
         <span class="message">{{::item.message}}</span><span ng-class="{'log-status': true, 'ok': item.status === 'ok', 'bad': item.status === 'bad'}">{{::item.status}}</span> <span>{{::item.additionalStatus}}</span>
    </div>
    <div ng-if="missingCredentials"
         class="missing-credentials">
      <div ng-repeat="(providerName, parts) in missingCredentials"
           class="missing-provider">
        <span class="header">Missing {{providers[providerName].profile.name}} Credentials!</span>
        <credential-collector provider="providers[providerName]"></credential-collector>
        <button ng-class="{'proceed': true, 'has-credentials': providers[providerName].hasCredentials}"
                ng-disabled="!providers[providerName].hasCredentials"
                ng-click="launch()">{{providers[providerName].hasCredentials ? 'Proceed' : 'Enter Credentials To Proceed'}}</button>
      </div>
    </div>
  </div>
  <provider-statuses></provider-statuses>
  <div class="error">{{launchError}}</div>
  <button class="return" ng-click="stageManager.gotoStage('launchpad')">↓ Return to Launchpad ↓</button>
</div>