credential-collector {
  display: flex;
  flex-direction: column;

  // padding: 0.25em;

  color: #000;
  background-color: #999;

  text-align: center;

  .prompt {
    padding: 0.25em;

    font-size: 1.1em;

    font-weight: bold;

    background-color: #111;
    color: #fff;
  }

  .collector {
    padding: 0.25em;

    .part {
      position: relative;

      flex: 0 0 auto;

      width: 100%;

      .label {
        display: flex;

        justify-content: space-between;

        text-align: left;

        .name {
          font-weight: bold;

          .help {
            font-weight: normal;

            font-size: 0.7em;
            line-height: 1em;
          }
        }

        .create {
          color: #11a;

          a {
            // text-decoration: none;

            &:visited {
              color: inherit;
            }
          }
        }
      }

      input {
        text-align: center;

        box-sizing: border-box;
        width: 100%;
      }
    }

    .save {
      display: flex;

      align-self: flex-end;
      justify-content: flex-end;

      align-items: center;

      padding-top: 0.25em;

      font-size: 0.9em;

      cursor: pointer;

      &:hover {
        background-color: #aaa;
      }

      .save-header {
        flex: 0 0 auto;
      }

      input {
        flex: 0 0 auto;
      }
    }
  }
}