configuration {
  display: flex;

  flex-direction: column;

  padding-top: 1vw;

  pre {
    flex: 1 1 auto;

    margin: 0;

    overflow-y: auto;

    background: transparent;
    border: none;

    color: #fff;

    resize: none;
    outline: 0;

    font-size: 1.1em;
  }

  .lower {
    display: flex;

    justify-content: space-between;

    flex: 0 0 auto;

    overflow-x: auto;

    target {
      flex: 1 0 auto;
    }

    .launch {
      flex: 1 0 auto;

      min-width: 25%;

      padding: 0;

@f: #bb1;
@b: #000;
      background: linear-gradient(45deg, @b, @f, @b, @f, @b, @f, @b, @f, @b, @f, @b, @f, @b, @f, @b, @f, @b, @f, @b, @f, @b, @f, @b, @f, @b, @f, @b);
      color: #fff;

      text-shadow: 0px 0px 3px #000;

      font-size: 1.25em;
      font-family: sans-serif;
      font-weight: bolder;

      border: none;

      box-shadow: inset 0px 0px 2px 1px #b11;

      cursor: pointer;
    }
  }
}