configuration {
  display: flex;

  flex-direction: column;

  pre {
    flex: 1 1 auto;

    margin: 0;

    overflow-y: auto;

    background: transparent;
    border: none;

    color: #fff;

    resize: none;
    outline: 0;

    font-size: 1.1em;
  }
}