configuration {
  position: relative;

  overflow-y: auto;

  padding-top: 1vw;

  pre {
    flex: 1 0 auto;

    background: transparent;
    border: none;

    color: #fff;

    resize: none;
    outline: 0;

    font-size: 1.1em;
  }

  target {
    position: absolute;

    top: 0;
    right: 0;
  }
}