<div ng-repeat="(name, provider) in providers" class="provider {{::name}}">
  <div class="header">
    <span class="help">?</span>
    <span class="name">{{::provider.profile.name}} <span ng-if="provider.profile.brand" class="brand">| {{::provider.profile.brand}}</span></span>
    <span ng-class="{'key': true, 'has-credential': provider.hasCredential}"
          ng-if="!provider.profile.comingsoon"
          ng-click="showCredentialCollector[name] = !showCredentialCollector[name]"
          title="{{provider.profile.name + ' Credentials ' + (provider.hasCredential ? 'Acquired' : 'Needed')}}">⚿</span>
  </div>
  <credential-collector ng-if="showCredentialCollector[name]" provider="provider">
    Credentials needed yo!
  </credential-collector>
  <!-- <div class="selections"> -->
    <div class="locations">
      <label ng-repeat="(name, location) in provider.profile.locations"
             ng-class="{'location': true, 'selected': location.selected}">
        <input type="checkbox"
               ng-model="location.selected"
               ng-change="selectLocation($parent.name, name, location)"
               tabindex="{{provider.profile.comingsoon ? -1 : ''}}">
        <span class="text">
          <span class="location-vicinity">{{::location.vicinity}}</span> <span class="location-name">({{::name}})</span>
        </span>
      </label>
      <div ng-if="provider.profile.comingsoon" class="comingsoon">
        <span class="banner">Coming Soon!</span>
      </div>
    </div>
  <!-- </div> -->
</div>