<!DOCTYPE html>
<html ng-app="cloud-launcher">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Deploy Everywhere | cloud-launcher</title>
    <meta name="viewport" content="width=device-width, initial-scale=0.5, user-scalable=yes">

    <meta http-equiv="cache-control" content="no-cache, must-revalidate, post-check=0, pre-check=0">
    <meta http-equiv="expires" content="Sat, 31 Oct 2014 00:00:00 GMT">
    <meta http-equiv="pragma" content="no-cache">

    <link rel="shortcut icon" href="favicon.ico">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <script>
    var clVersion = '<%= version %>';
    var wasReload = false;

    if (location.search.indexOf('?cacheBust') === 0) {
      wasReload = true;
      location.search = '';
    }

    function styleError() {
      checkAndReload();
    }

    function scriptError() {
      checkAndReload();
    }

    function checkAndReload() {
      if (wasReload) alert('There appears to be a problem loading the site. Please try again soon!');
      else {
        location.search = 'cacheBust' + new Date().getTime();
      }
    }
    </script>

    <link rel="stylesheet" href="app.css" onerror="styleError()">
  </head>
  <body>

  <script>
    // We detect FF because some features (animations, mostly) cause severe performance issues on that platform
    if (navigator.userAgent.match(/firefox\//i)) {
      document.body.className = 'ff';
    }
  </script>

  <style type="text/css">
  .ng-cloak {
    display: none !important;
  }
  </style>

  <teaser>
    <div class="question">
      <div class="center">
        <span class="q1">How</span>
        <span class="q2">can</span>
        <span class="q3">you</span>
        <span class="q4">change</span>
        <span class="q5">the</span>
        <span class="q6">world,</span>
        <span class="q7">unless</span>
        <span class="q8">you</span>
        <span class="q9">can</span>
        <span class="q10">deploy</span>
        <span class="q11">everywhere?</span>
      </div>
    </div>
    <span class="container">
      <span class="flip"><span class="launcher"><span class="arm"><span class="right-arm">╯</span></span><span class="body">{<span class="face">°□°</span>}</span><span class="arm"><span class="left-arm">╯</span></span></span></span><span class="swoosh">彡</span><span class="cloud">{益}</span>
    </span>
  </teaser>

  <div ng-if="newVersionAvailable"
       ng-cloak
       class="new-version ng-cloak">
    <a ng-click="window.location.reload(true)">Excuse me, there is a new version. Click here to load.</a>
    <span class="close"
          ng-click="ignoreNewVersion()"
          title="Ignore This Version">X</span>
  </div>

  <header class="page-header grow">
    <div ng-if="clouds.length > 0"
         ng-class="{'clouds': true, 'selected': stage.current === 'clouds'}"
         ng-click="toggleClouds()">
      <span class="text">My Clouds</span>
      <span class="count">({{clouds.length}})</span>
    </div>
    <div class="about"><a href="#about">About</a></div>
    <div class="cl-brand">
      <span class="cloud-launcher">{╯°□°}╯彡{益}</span>
      <span class="deploy-everywhere">Deploy Everywhere<span class="disclaimer" title="Where There Is A Provider">*</span></span>
    </div>

    <span class="fork-it"><a href="https://github.com/cloud-launcher"><span class="fork">fork</span> cloud-launcher <span class="github">on github</span></a></span>
  </header>

  <div class="scene grow">
    <launch-pad ng-class="{'in-launch-status': stage.current === 'launchstatus', 'in-clouds': stage.current === 'clouds'}"></launch-pad>
    <launch-status ng-if="stage.launchStatusVisible"
                   ng-class="{'in-clouds': stage.current === 'clouds'}"></launch-status>
    <clouds ng-if="stage.cloudsVisible"></clouds>
  </div>

  <footer class="grow">
    <div class="method git">
      <div class="line">git clone https://github.com/cloud-launcher/launch-cloud</div>
      <div class="line">cd launch-cloud && ./launch-cloud ~/your_cloud.json</div>
    </div>
    <div class="method docker">
      <div class="line">cat your_cloud.json | docker run -i cloudlauncher/launch-cloud</div>
    </div>
    <div class="method npm">
      <div class="line">npm install -g launch-cloud</div>
      <div class="line">launch-cloud your_cloud.json</div>
    </div>
  </footer>

<!--<script>
    // This is supposed to hide Android/iOS address bars, but in my experience: doesn't
    function hideAddressBar(){
      console.log('hiding');
      if(document.documentElement.scrollHeight <
          (window.outerHeight / window.devicePixelRatio)) {

        document.documentElement.style.height=(window.outerHeight/window.devicePixelRatio)+'px';

        console.log(document.documentElement.style.height);
      }
      setTimeout(window.scrollTo(1,1),0);
    }
    window.addEventListener("load",function(){hideAddressBar();});
    window.addEventListener("orientationchange",function(){hideAddressBar();});
    </script> -->

    <script src="vendor.js" onerror="scriptError()"></script>
    <script src="app.js" onerror="scriptError()"></script>

    <script async>
      if (['www.cloud-launcher.io'].indexOf(window.location.hostname) >= 0) {
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-60128890-1', 'auto');
        ga('send', 'pageview');
      }
    </script>
  </body>
</html>
