<div class="search">
  <input type="text" placeholder="Search Docker Hub For Containers..." ng-model="docker.query" autofocus><span class="querying"><span class="indicator">{{docker.querying}}</span></span>
</div>
<div ng-show="docker.showResults"
     class="display">
  <span class="header">Docker Hub Results</span>
  <div class="results">
    <div ng-repeat="result in docker.results track by $index"
         class="result">
      <div class="stars">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" width="17px" height="16px" viewBox="6 6.4 17 16" style="enable-background:new 6 6.4 17 16;" xml:space="preserve">
        <polygon style="fill:#ff8;stroke:#939BA7;stroke-width:0.5723;stroke-miterlimit:10;" points="14.5,19.1 9.8,21.6 10.7,16.4   6.9,12.6 12.2,11.9 14.5,7.1 16.8,11.9 22.1,12.6 18.3,16.4 19.2,21.6 "/>
        </svg>
        <span class="star-count">{{result.star_count}}</span>
      </div>
      <div class="container-details">
        <span class="container-name">{{result.name}}</span>
        <span class="container-description">{{result.description}}</span>
      </div>
    </div>
  </div>
</div>